body{
    margin: 0px;
}
.container{
    width:80%;
    margin: auto;
}

.font-small{
    font-size: 10px;
}

.font-normal{
    font-size: 14px;
    font-weight: bolder;
}

.font-white{
    color:white;
}

.font-icon{
    font-size:25px;
    color:rgb(95, 118, 219);
    background-color: white;
    padding:15px;
    border-radius: 50%;
    box-sizing:border-box;
    margin-bottom: 5px;
}
